.layout-default {
  .header {
    display: flex;
    border-bottom: 1px solid #ddd;
    background: #fff;

    &__logo {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #ddd;

      transition: width 0.3s cubic-bezier(0.2, 0, 0, 1);
      overflow: hidden; // Giúp chữ bên trong không bị vỡ hoặc tràn ra ngoài khi thu nhỏ

      span {
        font-size: 24px;
        font-weight: bold;
        padding: 15px 0;
        white-space: nowrap; // Giữ chữ "Quiz" không bị xuống dòng khi ép độ rộng
      }

      &--collapsed {
        width: 80px;
      }
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
    }

    &__nav-left {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .button-wrap {
      display: flex;
      gap: 10px;
      Button:nth-child(even) {
        margin-right: 10px;
      }
    }

    &__collapse {
      margin: 0;
      margin-left: 20px;
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 8px;
      border: 1px solid #ddd;
      cursor: pointer;
    }
  }

  .menu ul {
    display: flex;
    gap: 25%;
  }

  .menu li {
    list-style-type: none;
  }

  .footer {
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: 700;
  }
}
